<?xml version="1.0" encoding="utf-8" ?>
<!--
Sample license text.
-->
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="restoran.Properties.Settings.RestoranConnectionString"
            connectionString="Data Source=X;Initial Catalog=Restoran;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="restoran.Properties.Settings.RestoranConnectionString1"
            connectionString="Data Source=OZAN\SQLOZAN;Initial Catalog=Restoran;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>